* {
	margin:          0;
	padding:         0;
}
body {
	margin:          1em;
}
h1 {
	font-size:       16pt;
	margin-top:      2em;
	padding-bottom:  0.2em;
	border-bottom:   solid 1px black;
}
h2 {
	font-size:       12pt;
	font-weight:     normal;
	margin:          0.5em 0 0.2em 0;
}
.CodeMirror {
	background:      #f8f8f8;
	border:          solid 1px #aaaaff;
	margin-left:     1.5em;
	border-radius:   0.33em;
}

td {
	position:        relative;
	vertical-align:  top;
}
